@inject IArtistRepository artistRepository;

@{
    ViewData["Title"] = "Home";
}

<h1 class="text-center">Overview</h1>

<a asp-area="" asp-controller="Artists" asp-action="Index">
    <div class="panel panel-primary" style="border: 2px solid blue">

        <div class="panel-header">
            Artists
        </div>

        <div class="panel-body">
            Page for artists
        </div>
        <div class="panel-footer">
            Test
        </div>
    </div>
</a>
