@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Relevant Implications of the Project</h2>

<p>This project will not infringe on copyright by using mocked data or test data. This includes stuff like not using assets such as images or videos that are copyright protected and not free use in my project.</p>
<br />

<p>The project is licensed under the MIT License and might use other code snippet solutions granted they are under legal constraints where I can use them free of infringement.</p>
<br />
<p>Cultural and ethical and social implication are applied by not using any potentially offensive content on the website or contained within the database.</p>
<br />
<p>Future proofing will be applied by making each component modular and applying SOLID principles to the application. This will be practiced by using interfaces and relying on abstractions instead of a concrete implementation of the class being instantiated and have our code become spaghetti.</p>
<br />
<p>Accessibility of the product will be implemented by using stuff like navigation bars and home pages. This also includes having our web app fit to scale to different device resolutions and different platforms/browsers.</p>
<br />
<p>Aesthetics will be designed in a way so the colour is not overly bright or too dark for the user to comfortability see as this would not create a good user experience.</p>
<br />
<p>Documentation of the codebase will be provided of the whole project on <a href="https://as91892-docs.ac111897.repl.co/">https://as91892-docs.ac111897.repl.co/</a> which will be hosted by replit.com. This will build the xml comments of classes and class members as well as anything else that requires XML documentation. The result will produce a html website by using the free tool doxygen. This website will display class components and hierarchies to easier visualize how the components blend.</p>