@model Image;

@{
    ViewData["Title"] = "Details";
    ViewData["Path"] = $"{Model!.Id}.jpg";
}

<a asp-action="Index">
    <h2>Back to main page</h2>
</a>

<h1>Image</h1>

<img src="/img/@((string)ViewData["Path"]!)" alt="cover"/>