@model IEnumerable<Image>;
@{
    ViewData["Title"] = "Images";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageTitle)
            </th>
        </tr>
    </thead>


    @if (Model is not null) {
        @if (Model.Any())
        {
            <tbody>
            @foreach (var item in Model)
            {
              <tr>
                <td>
                    <a href="img/@System.IO.Path.Join(item.Id.ToString(), ".png")">@Html.DisplayFor(model => item.Id);</a>
                </td>
                <td>
                    @Html.DisplayFor(model => item.ImageTitle);
                </td>
            </tr>
          }
          </tbody>
        }
    }
</table>
@{
    if (Model is null)
    {
        <h1>No models availible</h1>
    }
    else if (!Model.Any())
    {
        <h1>No models availible</h1>
    }
}