@model IEnumerable<Image>;
@{
    ViewData["Title"] = "Images";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id);
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageTitle);
            </th>
        </tr>
    </thead>
    if (Model is null || !Model.Any()) {
    <tbody>
        @foreach (var item in Model!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id);
                </td>
                <td>
                    @Html.DisplayFor(model => item.ImageTitle);
                </td>
            </tr>
        }
    </tbody>
    }
</table>

@if (!Model!.Any())
{
    <h1>No models availible</h1>
}
